<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Breadcrumbs</title>

    <link th:rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>

<!-- Navigation -->
<div th:replace="~{component/nav-bar::nav-bar}"></div>


<!---------------------------------Хлебные крошки----------------------------------------->
<div class="container">
    <nav class="navbar  navbar-light mt-1" style="background-color: #ffffff;" aria-label="breadcrumb">
        <form id="breadcrumb" th:action="@{/breadcrumb}" method="get">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">

                    <a class="" th:href="@{/breadcrumb(path=)}">Home</a>

                </li>
                <li class="breadcrumb-item" th:each="entry, stat : ${breadcrumb}"
                    th:classappend="${stat.last} ? 'active'"
                    th:with="folderName=${entry.getNameFolder()}, pathToFolder=${entry.getPathToFolder()}">

                    <a th:unless="${stat.last}" th:href="@{/breadcrumb(path=${pathToFolder})}"
                       th:text="${folderName}"></a>
                    <span th:if="${stat.last}" th:text="${folderName}"></span>

                </li>
            </ol>

        </form>

        <form class="d-flex my-1" th:action="@{/new-folder}" th:method="post">
            <input type="hidden" th:name="currentPath" th:value="${pathCurrentFolder}">
            <div class="input-group col-4">
                <input class="form-control me-2" size="32" th:name="newFolder"
                       placeholder="add empty folder to current directory"
                       aria-label="add">
                <button class="btn btn-outline-success" type="submit">Create</button>
            </div>
        </form>
    </nav>
</div>
<!--------------------------------------------------------------------------------------->
<!-------------------------Содержимое текущей папки в хлебных крошках-------------------->
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-1" scope="col">#</th>
                    <th class="ps-3" scope="col">Name</th>

                    <th scope="col">
                        <div class="d-flex justify-content-end"> Action</div>
                    </th>
                </tr>
                </thead>
                <tbody>


                <tr th:each="element, stat : ${content}">


                    <th scope="row">
                        <div class="mt-2" th:text="${stat.index+1}">1</div>
                    </th>
                    <!--++++++++++++++++ Отображение папки или файла+++++++++++++++++-->
                    <td>

                        <a th:if="${element.getStatus().name()=='FOLDER'}" class="nav-link active"

                           th:href="@{/breadcrumb(path=${element.getPath()})}"
                           th:text="${element.getName()}">Active</a>


                        <span th:if="${element.getStatus().name()=='FILE'}" class="nav-link"
                              th:text="${element.getName()}">Link</span>
                    </td>
                    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                    <!--+++++ Кнопка свернутое меню папки или файла+++++++++++++-->
                    <td>
                        <div class="d-flex justify-content-end mt-1">
            <!--++++++++++++++++++++++++++ Кнопка download+++++++++++++++++++++++++++++-->
                            <form th:action="@{/download}" th:method="get" th:object="${actionObject}">
                                <input th:type="hidden" th:name="name" th:value="${element.getName()}">
                                <input th:type="hidden" th:name="status" th:value="${element.getStatus()}">
                                <input th:type="hidden" th:name="path" th:value="${element.getPath()}">
                                <button class="btn btn-outline-secondary btn-sm me-2" type="submit">
                                    <i class="fa fa-download"></i>
                                </button>
                            </form>
                <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
                <!--++++++++++++++++++++++++++ Кнопка rename/delete +++++++++++++++++++++++++++++-->
                            <div class="dropdown">

                                <button class="btn btn-outline-secondary btn-sm me-2" type="button"
                                        id="dropdownMenuButton1"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-bars"></i>

                                </button>


                                <!--++++++++++++++++++++++++++++++++++++++-->
                                <!--++++++++++++++++Переименовать имя файла или папки++++++++++++-->
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <!--class="dropdown-menu"-->
                                    <li class="dropdown-item">
                                        <form th:action="@{/patch}" th:method="post" th:object="${renameObject}">
                                            <!--class="dropdown-menu p-4"-->
                                            <div class="mb-3">
                                                <label for="update-form" class="form-label">Rename</label>
                                                <input type="text" th:field="*{newName}" class="form-control"
                                                       id="update-form"
                                                       placeholder="New name">


                                               <!-- <input type="hidden" th:field="*{oldName}" th:value="${element.getName()}">-->
                                                <input th:type="hidden" th:name="oldName" th:value="${element.getName()}">
                                                <input th:type="hidden" th:name="status" th:value="${element.getStatus()}">

                                                <!--<input type="hidden" th:field="*{pathCurrent}"
                                                       th:value="${pathCurrentFolder}">-->
                                                <input th:type="hidden" th:name="pathCurrent" th:value="${pathCurrentFolder}">


                                            </div>

                                            <button type="submit" class="btn btn-primary">Ready</button>
                                        </form>
                                    </li>
                                    <!--++++++++++++++++++++++++++++++++++++++-->
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <!--++++++++++++++++ Кнопка удалить файл или папку++++++++++++-->
                                    <li class="dropdown-item">
                                        <form th:action="@{/delete}" th:method="post" th:object="${actionObject}"> <!--class="dropdown-menu p-4"-->
                                            <input type="hidden" th:name="name" th:value="${element.getName()}">
                                            <input type="hidden" th:name="path" th:value="${element.getPath()}">
                                            <input type="hidden" th:name="status" th:value="${element.getStatus()}">
                                            <input type="hidden" th:name="currentPath" th:value="${pathCurrentFolder}">
                                            <!--                                        <input type="hidden" th:name="" th:value="${pathCurrentFolder}">-->
                                            <button type="submit" class="btn btn-primary">Remove object</button>
                                        </form>
                                    </li>
                                    <!--++++++++++++++++++++++++++++++++++++++-->

                                </ul>
                            </div>

                        </div>

                    </td>


                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-------------------------------DropZone-------------------------------------------------------->
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="border border-warning mb-3 col-md-6">
            <div class="pt-3 text-center">You can drop one folder containing folders of any nesting, files, as well as
                empty folders
            </div>
            <div class="drop-zone" id="drop-zone">

                Drop folder or files here

            </div>

            <div>
                <button class="btn btn-sm btn-outline-primary" id="clear-btn">Clear</button>
                <button class="btn btn-sm btn-outline-success" id="submit-btn">Submit</button>
            </div>

            <div id="file-display"></div>


        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------------------->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

<script src='/js/drag-and-drop.js'></script>


</body>
</html>